.grid {
  margin: 0;
  min-width: none;
  min-height: none;
  width: 100%;
  height: 100%;
  display: block;
	border: none;


}

.grid:focus{
	outline: none;
	border: none;
}
td {
  min-width: 0px;
  min-height: 0px;
  padding:0px
  
}
table {
  border-spacing: 0px;
}
body{
  overflow:hidden;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  overflow: hidden;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.flipper, .front, .back {
	margin: 0;
	padding: 0;
	border: 1px solid black;
}
	/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}


/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	overflow: hidden;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}



/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
